In [1]:
import numpy as np
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

## χ^2の計算を任意の数でやる

期待度数の計算(縦計 * 横計 / 全体計)

In [2]:
65 * 50 / 110

29.545454545454547

In [3]:
65 * 60 / 110

35.45454545454545

In [4]:
45 * 50 / 110

20.454545454545453

In [5]:
45 * 60 / 110

24.545454545454547

### 任意の数のカテゴリ変数を持つデータフレームを作ろうとしたやつ

In [21]:
# データを生成する
np.random.seed(42)  # 任意のシード値を設定（結果の再現性のため）
n_samples = 100  # サンプル数を設定

# カテゴリ変数を任意の度数で生成
gender = np.random.choice(['男性', '女性'], n_samples)
favorite_subject = np.random.choice(['数学', '英語', '歴史'], n_samples)

# データフレームを作成
df = pd.DataFrame({'性別': gender, '好きな科目': favorite_subject})

print(df)  # 最初の5行を表示

    性別 好きな科目
0   男性    歴史
1   女性    英語
2   男性    英語
3   男性    英語
4   男性    英語
..  ..   ...
95  女性    数学
96  女性    英語
97  女性    数学
98  女性    数学
99  男性    英語

[100 rows x 2 columns]

In [22]:
np.random.seed(42)  # 任意のシード値を設定（結果の再現性のため）
n_samples = 100  # サンプル数を設定
n_columns = 4  # カラム数を設定

# カテゴリ変数を任意の度数で生成
column_data = []
column_names = []

for i in range(n_columns):
    categories = [f"Category_{i}_{j}" for j in range(1, 4)]  # 3つのカテゴリを持つと仮定
    data = np.random.choice(categories, n_samples)
    column_data.append(data)
    column_names.append(f"Column_{i}")

# データフレームを作成
df = pd.DataFrame(dict(zip(column_names, column_data)))

print(df.head())  # 最初の5行を表示

       Column_0      Column_1      Column_2      Column_3
0  Category_0_3  Category_1_3  Category_2_1  Category_3_3
1  Category_0_1  Category_1_3  Category_2_2  Category_3_1
2  Category_0_3  Category_1_3  Category_2_1  Category_3_1
3  Category_0_3  Category_1_1  Category_2_2  Category_3_1
4  Category_0_1  Category_1_3  Category_2_2  Category_3_1

### カテゴリ変数と度数を任意の数作るデータフレームの作り方

In [28]:
np.random.seed(42)

#各カテゴリ変数の度数を設定
column_counts = {
    '好きな科目': {
        '英語':20,
        '数学':30
    },
    '性別':{
        '男性':40,
        '女性':20
    }
}

# カラムごとにデータを生成し、データフレームを作成
data_frames = []
for column, categories in column_counts.items():
    data = []
    for category, count in categories.items():
        data.extend([category] * count)
    
    np.random.shuffle(data)
    df = pd.DataFrame(data, columns = [column])
    data_frames.append(df)


# 各データフレームを結合
final_df = pd.concat(data_frames, axis=1)

### 本題

In [38]:
column_count = {
    'A':{
        'a':50,
        'b':60
    },
    'B':{
        'a':65,
        'b':45
    }
}

data_frames = []

for column, categories in column_count.items():
    data=[]
    for category, count in categories.items():
        data.extend([category] * count)
    
    np.random.shuffle(data)
    df = pd.DataFrame(data, columns=[column])
    data_frames.append(df)

final_df = pd.concat(data_frames, axis=1)

最初の計算の通りの答えが返っている

In [37]:
# 分割表を作成して、χ^2を計算する
cont_table = pd.crosstab(final_df['A'], final_df['B'])
stats.chi2_contingency(cont_table, correction=False)

(3.0098005698005683,
 0.08276247307940354,
 1,
 array([[29.54545455, 20.45454545],
        [35.45454545, 24.54545455]]))

In [39]:
df_ship = sns.load_dataset('titanic')

In [40]:
df_ship

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [42]:
stats.chi2_contingency(pd.crosstab(df_ship['survived'], df_ship['alive']), correction=False)

(891.0,
 8.878170027530531e-196,
 1,
 array([[338.27272727, 210.72727273],
        [210.72727273, 131.27272727]]))